{% unless guest.linked_guest? %}
  {% if form_item.options.subforms.all != blank %}
    {% assign guest_category_id = form_item.options.subforms.all["guest_category_id"] %}
    {% assign add = form_item.options.subforms.all["add"] %}
    {% assign remove = form_item.options.subforms.all["remove"] %}
    {% assign add_label = form_item.localized_options__subforms__all__add_label %}
    {% assign remove_label = form_item.localized_options__subforms__all__remove_label %}
    {% assign default_nb = form_item.options.subforms.all["default_nb"] %}
    {% assign default_limit = form_item.options.subforms.all["limit"] %}
    {% assign guest_field_limit_key = form_item.options.subforms.all["guest_field_limit_key"] %}
    {% assign copy_fields_mapping = form_item.options.subforms.all["copy_fields_mapping"] %}
    {% assign inline = form_item.options.subforms.all["inline"] %}
  {% else %}
    {% assign guest_category_id = form_item.options.subforms[guest_category.id]["guest_category_id"] %}
    {% assign add = form_item.options.subforms[guest_category.id]["add"] %}
    {% assign remove = form_item.options.subforms[guest_category.id]["remove"] %}
    {% capture add_label_method %}localized_options__subforms__{{guest_category.id}}__add_label{% endcapture %}
    {% assign add_label = form_item[add_label_method] %}
    {% capture remove_label_method %}localized_options__subforms__{{guest_category.id}}__remove_label{% endcapture %}
    {% assign remove_label = form_item[remove_label_method] %}
    {% assign default_nb = form_item.options.subforms[guest_category.id]["default_nb"] %}
    {% assign default_limit = form_item.options.subforms[guest_category.id]["limit"] %}
    {% assign guest_field_limit_key = form_item.options.subforms[guest_category.id]["guest_field_limit_key"] %}
    {% assign copy_fields_mapping = form_item.options.subforms[guest_category.id]["copy_fields_mapping"] %}
    {% assign inline = form_item.options.subforms[guest_category.id]["inline"] %}
  {% endif %}

  {% assign limit = default_limit %}
  {% if guest_field_limit_key != blank %}
    {% assign limit = guest[guest_field_limit_key] | plus: 0 %}
    {% capture limit_string %}{{ limit }}{% endcapture %}
    {% if guest[guest_field_limit_key] != limit_string %}
      {% assign limit = default_limit %}
    {% endif %}
  {% endif %}

  {% assign current_step_fields_array = current_step_fields | split: ',' %}

  {% assign copied_parent_fields = '' %}
  {% for couple in copy_fields_mapping %}
    {% assign copied_parent_fields = copied_parent_fields | append: couple[1] | append: ',' %}
  {% endfor %}

  {% assign copied_parent_fields_array = copied_parent_fields | split: ',' %}
  {% for copied_field in copied_parent_fields_array %}
    {% unless current_step_fields_array contains copied_field %}
      {% capture field_value %}{% if guest.guest_metadata[copied_field] != nil %}{{ guest.guest_metadata[copied_field] }}{% else %}{{ guest[copied_field] }}{% endif %}{% endcapture %}

      <input type="hidden" name="{% guest_field_name copied_field %}" disabled value="{{ field_value }}" />
    {% endunless %}
  {% endfor %}

  {% if guest_category.ticketing? %}
    <div data-ticket-id="{{ guest_category_id }}" class="tickets-container" data-hide-when-no-ticket="{{ guest_category_id }}">
      {% for ticket in guest_category.tickets %}
        {% if ticket.id == guest_category_id %}
          <div class="form-paragraph" data-hide-when-no-ticket="{{ guest_category_id }}" style="display: none;"><h2>{{ ticket.name }}</h2></div>
          {% assign limit = ticket.max_tickets_per_registration %}
        {% endif %}
      {% endfor %}
  {% endif %}

  {% if inline == true %}
    <div class="linked-guests-inline">
  {% endif %}

  {% foreach_linked_guest default_nb: default_nb, guest_category_id: guest_category_id, add: add, add_label: add_label, remove: remove, remove_label: remove_label, limit: limit %}

    {% if guest_category.ticketing? %}
      <h4><span class="label label-primary"><span data-ticket-type-index></span>/<span data-ticket-type-count></span></span></h4>
    {% endif %}

    {% if linked_guest.errors != blank %}
      <div class="clearfix down-s"></div>
      {% include 'form-errors', guest: linked_guest, title: nil %}
    {% endif %}

    {% if inline == true %}
      <div class="form-inline">
    {% endif %}

    {% for subform_item in subform_items %}
      {% assign prefill_from = copy_fields_mapping[subform_item.key] %}

      {% include 'form-item', form_item: subform_item, guest: linked_guest, prefill: prefill_from %}
    {% endfor %}

    {% if inline == true %}
        <div class="form-group form-action"></div>
      </div>
    {% endif %}

  {% endforeach_linked_guest %}

  {% if guest_category.ticketing? %}
    </div>

    <div class="empty-space" data-hide-when-no-ticket="{{ guest_category_id }}" style="display: none;"></div>
  {% endif %}

  {% if inline == true %}
    </div>
  {% endif %}
{% endunless %}
