{% capture field_value %}{% if guest.guest_metadata[form_item.key] != nil %}{{ guest.guest_metadata[form_item.key] }}{% endif %}{% endcapture %}

<div class="form-group" {{ conditional_display }}>
  <label class="control-label" {{ required }}>{{ form_item.localized_label }}</label>
  <input type="text" name="{% guest_field_name form_item.key %}" class="form-control form-datepicker" {% if prefill_from != blank %}data-copy-from="{{prefill_from}}"{% endif %} {{ required }} {{ required_if }} {% if form_item.options['readonly'] %}readonly{% endif %} value="{{ field_value }}" placeholder="{{ form_item.options.placeholder }}" data-max-date="{{form_item.options['date_max']}}" data-min-date="{{form_item.options['date_min']}}" data-showon="focus" data-locale="{{ locale }}" />
  {{ help_block }}
</div>
