<div class="container {{ settings.spacing }}" data-section-id="{{ section.id }}" data-section-type="button-group">
  {% if section.settings.title != blank %}
    <div class="section-header text-center down-s">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% assign grid_item_width = 'col-sm-4' %}
  {% assign per_line = 3 %}
  {% case section.blocks.size %}
    {% when 1 %}
      {% assign grid_item_width = 'col-sm-12' %}
      {% assign per_line = 1 %}
    {% when 2 %}
      {% assign grid_item_width = 'col-sm-6' %}
      {% assign per_line = 2 %}
    {% when 4 %}
      {% assign grid_item_width = 'col-sm-6' %}
      {% assign per_line = 2 %}
  {% endcase %}

  {% for block in section.blocks %}
    {% assign remainder = forloop.index | modulo: per_line %}
    {% if forloop.first == true or remainder == 1 %}
      <div class="row up-s text-center">
    {% endif %}
      <div class="{{ grid_item_width }} button-group" data-block-id="{{ block.id }}">
        {% include "button", params: block.settings, button_settings: section.settings %}
      </div>
    {% if remainder == 0 or forloop.last == true %}
      </div>
    {% endif %}
  {% endfor %}

</div>

{% schema %}
  {
    "name": "Buttons group",
    "name_translations": { "fr": "Groupe de boutons" },
    "class": "index-section",
    "icon": "fa fa-th-large",
    "hidden_from_user": false,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "label_translations": { "fr": "Titre" },
        "default": "Title of the section",
        "default_translations": { "fr": "Titre de la section" }
      },
      {
        "type": "checkbox",
        "id": "same_size_button",
        "label": "Same size buttons",
        "label_translations": { "fr": "Tous les boutons de même largeur" },
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Buttons",
        "name_translations": { "fr": "Boutons" },
        "add_block": "New button",
        "add_block_translations": { "fr": "Nouveau bouton" },
        "remove_block": "Remove this button",
        "remove_block_translations": { "fr": "Retirer ce bouton" },
        "display_property": "button_label",
        "settings": [
          {
            "type": "select",
            "id": "button_type",
            "label": "Button type",
            "label_translations": { "fr": "Type du bouton" },
            "default": "external_link",
            "options": [
              {
                "value": "external_link",
                "label": "External link",
                "label_translations": { "fr": "Lien externe" }
              },
              {
                "value": "website_page",
                "label": "Link to another page",
                "label_translations": { "fr": "Lien vers une autre page" }
              },
              {
                "value": "registration",
                "label": "Registration",
                "label_translations": { "fr": "Inscription" }
              },
              {
                "value": "badge",
                "label": "Badge",
                "label_translations": { "fr": "Badge" }
              },
              {
                "value": "document",
                "label": "Document",
                "label_translations": { "fr": "Document" }
              },
              {
                "value": "add_to_my_calendar",
                "label": "Add to my calendar",
                "label_translations": { "fr": "Ajouter à mon calendrier" }
              },
              {
                "value": "declined",
                "label": "RSVP declined",
                "label_translations": { "fr": "RSVP décliner" }
              },
              {
                "value": "accepted",
                "label": "RSVP accepted",
                "label_translations": { "fr": "RSVP accepter" }
              }
            ]
          },
          {
            "type": "text",
            "id": "button_link",
            "label": "Button link",
            "label_translations": { "fr": "Lien du bouton" },
            "show_if": {
              "source_id": "button_type",
              "operator": "==",
              "value": "external_link"
            }
          },
          {
            "type": "website_page_picker",
            "id": "website_page_url",
            "label": "Link to your website's page",
            "label_translations": { "fr": "Lien vers une page de votre site" },
            "show_if": {
              "source_id": "button_type",
              "operator": "==",
              "value": "website_page"
            }
          },
          {
            "type": "checkbox",
            "id": "auto_submit",
            "label": "Auto submit",
            "label_translations": { "fr": "Soumission automatique" },
            "default": true,
            "show_if": {
              "source_id": "button_type",
              "operator": "=~",
              "value": "^(?:accepted|declined)$"
            }
          },
          {
            "type": "checkbox",
            "id": "enable_change_category",
            "label": "Change the guest's category",
            "label_translations": { "fr": "Changer le participant de catégorie" },
            "info": "Link to the guest's registration form. By selecting a category, the guest will be transfered to this new category on form submission.",
            "info_translations": { "fr" : "Lien vers le formulaire d'inscription du participant. En sélectionnant une catégorie, le participant sera transféré vers cette nouvelle catégorie à la soumission du formulaire." },
            "default": false,
            "show_if": {
              "source_id": "button_type",
              "operator": "=~",
              "value": "^(?:accepted|declined)$"
            }
          },
          {
            "type": "guest_category_picker",
            "id": "guest_category_id",
            "label": "Choose the registration category",
            "label_translations": { "fr": "Choisir la catégorie d'inscription" },
            "show_if": {
              "source_id": "enable_change_category",
              "operator": "==",
              "value": true
            }
          },
          {
            "type": "document_picker",
            "id": "document_name",
            "label": "Document",
            "label_translations": { "fr": "Document" },
            "info": "The button is a direct link to the document's PDF, on the condition that the document has been configured in the guest's category",
            "info_translations": { "fr" : "Lien direct vers le PDF du document de votre choix, à condition que le document ait été configuré dans la catégorie du participant" },
            "show_if": {
              "source_id": "button_type",
              "operator": "==",
              "value": "document"
            }
          },
          {
            "type": "checkbox",
            "id": "enable_icon",
            "label": "Show the icon",
            "label_translations": { "fr": "Montrer l'icône" },
            "default": true,
            "show_if": {
              "source_id": "button_type",
              "operator": "==",
              "value": "add_to_my_calendar"
            }
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button text",
            "label_translations": { "fr": "Libellé du bouton" },
            "default": "Button",
            "default_translations": { "fr": "Bouton" },
            "show_if": {
              "source_id": "button_type",
              "operator": "!=",
              "value": "registration"
            }
          },
          {
            "type": "header",
            "content": "All visitors",
            "content_translations": { "fr": "Tous les visiteurs" },
            "show_if": {
              "source_id": "button_type",
              "operator": "==",
              "value": "registration"
            }
          },
          {
            "type": "checkbox",
            "id": "force_new_registration",
            "label": "New registration for all visitors",
            "label_translations": { "fr": "Nouvelle inscription pour tous les visiteurs" },
            "info": "Force all visitors to create a new participant.",
            "info_translations": { "fr" : "Forcera tous les visiteurs à créer un nouveau participant." },
            "default": false,
            "show_if": {
              "source_id": "button_type",
              "operator": "==",
              "value": "registration"
            }
          },
          {
            "type": "text",
            "id": "button_label_force_new_registration",
            "label": "Button text",
            "label_translations": { "fr": "Libellé du bouton" },
            "default": "New Registration",
            "default_translations": { "fr": "Nouvelle inscription" },
            "show_if": {
              "source_id": "force_new_registration",
              "operator": "==",
              "value": true
            }
          },
          {
            "type": "guest_category_picker",
            "id": "new_registration_category_id",
            "label": "Guests' category",
            "label_translations": { "fr": "Catégorie d'inscription" },
            "show_if": {
              "source_id": "force_new_registration",
              "operator": "==",
              "value": true
            }
          },
          {
            "type": "header",
            "content": "Unknown visitors",
            "content_translations": { "fr": "Visiteurs non connus" },
            "show_if": {
              "source_id": "force_new_registration",
              "operator": "==",
              "value": false
            }
          },
          {
            "type": "checkbox",
            "id": "unknown_visitors_registration",
            "label": "Authorize unknown visitors to register",
            "label_translations": { "fr": "Autoriser l'inscription des visiteurs non connus" },
            "default": false,
            "show_if": {
              "source_id": "force_new_registration",
              "operator": "==",
              "value": false
            }
          },
          {
            "type": "text",
            "id": "button_label_unknown_visitor_registration",
            "label": "Button text",
            "label_translations": { "fr": "Libellé du bouton" },
            "default": "New Registration",
            "default_translations": { "fr": "Nouvelle inscription" },
            "show_if": {
              "source_id": "unknown_visitors_registration",
              "operator": "==",
              "value": true
            }
          },
          {
            "type": "guest_category_picker",
            "id": "unknown_visitors_category_id",
            "label": "New guests' category",
            "label_translations": { "fr": "Catégorie des nouveaux participants" },
            "show_if": {
              "source_id": "unknown_visitors_registration",
              "operator": "==",
              "value": true
            }
          },
          {
            "type": "header",
            "content": "Known visitors",
            "content_translations": { "fr": "Visiteurs connus" },
            "show_if": {
              "source_id": "force_new_registration",
              "operator": "==",
              "value": false
            }
          },
          {
            "type": "checkbox",
            "id": "change_known_visitors_category",
            "label": "Change category of guests already registered",
            "label_translations": { "fr": "Changer la catégorie des visiteurs connus" },
            "info": "Will allow the existing participant to change category. Otherwise it will be a simple edition in its original category.",
            "info_translations": { "fr" : "Permettra au participant déjà existant de changer de catégorie. Sinon il s'agira d'une édition simple dans sa catégorie originale." },
            "default": false,
            "show_if": {
              "source_id": "force_new_registration",
              "operator": "==",
              "value": false
            }
          },
          {
            "type": "text",
            "id": "button_label_known_visitors",
            "label": "Button text",
            "label_translations": { "fr": "Libellé du bouton" },
            "default": "Edit registration",
            "default_translations": { "fr": "Edition" },
            "show_if": {
              "source_id": "force_new_registration",
              "operator": "==",
              "value": false
            }
          },
          {
            "type": "guest_category_picker",
            "id": "known_visitors_new_category_id",
            "label": "Known visitors' new category",
            "label_translations": { "fr": "Nouvelle catégorie des visiteurs connus" },
            "show_if": {
              "source_id": "change_known_visitors_category",
              "operator": "==",
              "value": true
            }
          },
          {
            "type": "text",
            "id": "step_number",
            "label": "Step number",
            "label_translations": { "fr": "Numéro de l'étape" },
            "info": "If the form contains multiple steps, then you can choose the step by which to start",
            "info_translations": { "fr" : "Si votre formulaire contient plusieurs étapes, cela permet d'amener le participant à une étape spécifique." },
            "default": "1",
            "show_if": {
              "source_id": "force_new_registration",
              "operator": "==",
              "value": false
            }
          },
          {
            "type": "header",
            "content": "Style",
            "content_translations": { "fr": "Style" }
          },
          {
            "type": "checkbox",
            "id": "enable_custom_css",
            "label": "Apply a custom style",
            "label_translations": { "fr": "Appliquer un style personnalisé" },
            "default": false
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button color",
            "label_translations": { "fr": "Couleur du bouton" },
            "show_if": {
              "source_id": "enable_custom_css",
              "operator": "==",
              "value": true
            },
            "default": "#000"
          },
          {
            "type": "color",
            "id": "button_text_color",
            "label": "Button text color",
            "label_translations": { "fr": "Couleur du texte du bouton" },
            "show_if": {
              "source_id": "enable_custom_css",
              "operator": "==",
              "value": true
            },
            "default": "#FFF"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Button group",
        "name_translations": { "fr": "Groupe de bouton" },
        "blocks": [
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
