<style>
  .navbar-default .navbar-nav>li>a:hover {
    color:{{ section.settings.color_text_nav_bar_hover }};
  }
  .navbar-default .navbar-nav>li>a {
    color:{{ section.settings.color_text_nav_bar }};
  }
</style>

<div class="header-navbar {% if section.settings.fixed %}header-fixed{% endif %}" data-section-id="{{ section.id }}" data-section-type="header">
  {% if section.settings.message %}
    {% if section.settings.home_page_only == false or page.filename == 'index' %}
      {% if section.settings.message_link == blank %}
        <div class="announcement-bar" style="background-color: {{ section.settings.color_bg }}">
      {% else %}
        <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link" style="background-color: {{ section.settings.color_bg }}">
      {% endif %}

        <p class="announcement-bar__message text-center" style="color: {{ section.settings.color_text }};">{{ section.settings.message_text | escape }}</p>

      {% if section.settings.message_link == blank %}
        </div>
      {% else %}
        </a>
      {% endif %}
    {% endif %}
  {% endif %}

  <nav class="navbar navbar-default {% if section.settings.fixed %}navbar-fixed-top{% endif %}" style="background-color: {{section.settings.color_bg_nav_bar}}">
    <div class="container-fluid">
      <div class="navbar-header">
        {% if menus[section.settings.navigation] != blank %}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% endif %}
        {% if section.settings.logo != blank %}
          {% assign logo_path = "" %}
          {% if section.settings.logo_clickable %}
            {% assign logo_path = "/" %}
            <a class="navbar-brand" href="{{ logo_path }}">
          {% else %}
          <a class="navbar-brand">
          {% endif %}
          <img src="{{ section.settings.logo }}" style="max-width: {{ section.settings.logo_max_width }}px; max-height: {{ section.settings.logo_max_height }}px;" />
          </a>
        {% endif %}
      </div>
      <div id="main-nav" class="navbar-collapse collapse" aria-expanded="true">
        <ul class="nav navbar-nav navbar-right">
          {% for item in menus[section.settings.navigation] %}
            <li><a href="{{ item.url }}">{{ item.localized_name }}</a></li>
          {% endfor %}
          {% if event.frontend_locales_to_switch.size > 1 and request_method == "GET" %}
            {% for available_locale in event.frontend_locales_to_switch %}
              {% if available_locale.code == locale %}
                {% capture current_locale_label %}{{ available_locale.flag }} {{ available_locale.code }}{% endcapture %}
              {% else %}
                {% capture switch_options %}{{ switch_options }}
                  <li><a href="#" class="locale_switch" data-locale="{{available_locale.code}}">{{ available_locale.flag }} {{ available_locale.original_label }}</a></li>
                {% endcapture %}
              {% endif %}
            {% endfor %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{ current_locale_label }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {{ switch_options }}
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>

{% schema %}
  {
    "name": "Header",
    "name_translations": { "fr": "Entête" },
    "icon": "fa fa-arrow-up",
    "hidden_from_user": false,
    "settings": [
      {
        "type": "header",
        "content": "Navigation bar",
        "content_translations": { "fr": "Barre de navigation" }
      },
      {
        "type": "menu",
        "id": "navigation",
        "label": "Menu",
        "label_translations": { "fr": "Choix du menu" }
      },
      {
        "type": "color",
        "id": "color_bg_nav_bar",
        "label": "Menu color",
        "label_translations": { "fr": "Couleur du menu" },
        "default": "#f2f5f7"
      },
      {
        "type": "color",
        "id": "color_text_nav_bar",
        "label": "Menu text color",
        "label_translations": { "fr": "Couleur du texte du menu" },
        "default": "#45568e"
      },
      {
        "type": "color",
        "id": "color_text_nav_bar_hover",
        "label": "Menu text color on hover",
        "label_translations": { "fr": "Couleur du texte du menu au survol" },
        "default": "#e4b100"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "checkbox",
        "id": "logo_clickable",
        "label": "Logo lead to home page",
        "label_translations": { "fr": "Le logo amène à la page d'accueil" },
        "default": true
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Logo width (in pixels)",
        "label_translations": { "fr": "Largeur du logo (en pixels)" },
        "default": "100"
      },
      {
        "type": "text",
        "id": "logo_max_height",
        "label": "Logo height (in pixels)",
        "label_translations": { "fr": "Hauteur du logo (en pixels)" },
        "default": "75"
      },
      {
        "type": "checkbox",
        "id": "fixed",
        "label": "Fixed navigation bar",
        "label_translations": { "fr": "Barre fixe" },
        "default": true
      },
      {
        "type": "header",
        "content": "Announcement bar",
        "content_translations": { "fr": "Barre d'annonce" }
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show the announcement",
        "label_translations": { "fr": "Montrer l'annonce" },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "label_translations": { "fr": "Page d'accueil uniquement" },
        "show_if": {
          "source_id": "message",
          "operator": "==",
          "value": true
        },
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement message",
        "label_translations": { "fr": "Texte de l'annonce" },
        "show_if": {
          "source_id": "message",
          "operator": "==",
          "value": true
        },
        "default": "Your message",
        "default_translations": { "fr": "Annoncez quelque chose" }
      },
      {
        "type": "text",
        "id": "message_link",
        "label": "Announcement link",
        "label_translations": { "fr": "Lien de l'annonce" },
        "show_if": {
          "source_id": "message",
          "operator": "==",
          "value": true
        },
        "info": "Optional",
        "info_translations": { "fr": "Optionnel" }
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Navigation bar color",
        "label_translations": { "fr": "Couleur de la barre" },
        "show_if": {
          "source_id": "message",
          "operator": "==",
          "value": true
        },
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text color",
        "label_translations": { "fr": "Couleur du texte" },
        "show_if": {
          "source_id": "message",
          "operator": "==",
          "value": true
        },
        "default": "#fff"
      }
    ]
  }
{% endschema %}
