<div class="container {{ settings.spacing }}" data-section-id="{{ section.id }}" data-section-type="feature-columns">
  {% if section.settings.title != blank %}
    <div class="section-header text-center down-s">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% assign grid_item_width = 'col-sm-4' %}
  {% assign per_line = 3 %}
  {% case section.blocks.size %}
    {% when 1 %}
      {% assign grid_item_width = 'col-sm-12' %}
      {% assign per_line = 1 %}
    {% when 2 %}
      {% assign grid_item_width = 'col-sm-6' %}
      {% assign per_line = 2 %}
    {% when 4 %}
      {% assign grid_item_width = 'col-sm-6' %}
      {% assign per_line = 2 %}
  {% endcase %}

  {% for block in section.blocks %}
    {% assign remainder = forloop.index | modulo: per_line %}
    {% if forloop.first == true or remainder == 1 %}
      <div class="row {% if forloop.first == true %}up-s{% endif %}">
    {% endif %}
      <div class="{{ grid_item_width }} text-{{ section.settings.align_text }} feature-column" data-block-id="{{ block.id }}">
        <div class="thumbnail">
          {% if block.settings.enable_image %}
            {% if block.settings.image != blank %}
              <img class="feature-row__image" src="{{ block.settings.image }}">
            {% else %}
              <img src="https://via.placeholder.com/400x300/F0F0F0/888888/?text=Eventmaker.io" alt="Image placeholder" />
            {% endif %}
          {% endif %}
          <div class="caption">
            {% if block.settings.title != blank %}
              <h3 class="down-s">
                {% if block.settings.enable_icon and block.settings.icon != blank %}
                  <span aria-hidden="false"><i class="{{ block.settings.icon }}"></i></span>
                {% endif %}
                {{ block.settings.title | escape }}
              </h3>
            {% else %}
              {% if block.settings.enable_icon and block.settings.icon != blank %}
                <span aria-hidden="false"><i class="{{ block.settings.icon }}"></i></span>
              {% endif %}
            {% endif %}

            {% if block.settings.text.html.size > 6 %}
              <div class="down-s">{{ block.settings.text.html | parse_liquid }}</div>
            {% endif %}

            {% include "button", params: block.settings %}
          </div>
        </div>
      </div>
    {% if remainder == 0 or forloop.last == true %}
      </div>
    {% endif %}
  {% endfor %}

</div>

{% schema %}
  {
    "name": "Columns of text and image",
    "name_translations": { "fr": "Colonnes de texte et image" },
    "class": "index-section",
    "icon": "fa fa-columns",
    "hidden_from_user": false,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "label_translations": { "fr": "Titre" },
        "default": "Title of the section",
        "default_translations": { "fr": "Titre de la section" }
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "label_translations": { "fr": "Alignement du texte" },
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left",
            "label_translations": { "fr": "Gauche" }
          },
          {
            "value": "center",
            "label": "Center",
            "label_translations": { "fr": "Centre" }
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Columns",
        "name_translations": { "fr": "Colonnes" },
        "add_block": "New column",
        "add_block_translations": { "fr": "Nouvelle colonne" },
        "remove_block": "Remove this column",
        "remove_block_translations": { "fr": "Retirer cette colonne" },
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show the illustration",
            "label_translations": { "fr": "Montrer l'illustration" },
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Illustration",
            "label_translations": { "fr": "Illustration" },
            "show_if": {
              "source_id": "enable_image",
              "operator": "==",
              "value": true
            }
          },
          {
            "type": "checkbox",
            "id": "enable_icon",
            "label": "Show the icon",
            "label_translations": { "fr": "Montrer l'icône" },
            "default": true
          },
          {
            "type": "text",
            "id": "icon",
            "label": "Icon",
            "label_translations": { "fr": "Icône" },
            "show_if": {
              "source_id": "enable_icon",
              "operator": "==",
              "value": true
            },
            "default": "fa fa-user"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "label_translations": { "fr": "Titre" },
            "default": "Title of the column",
            "default_translations": { "fr": "Titre de la colonne" }
          },
          {
            "type": "rte",
            "id": "text",
            "label": "Text",
            "label_translations": { "fr": "Texte" },
            "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          },
          {
            "type": "header",
            "content": "Advanced settings",
            "content_translations": { "fr": "Paramètres avancés" }
          },
          {
            "type": "select",
            "id": "button_type",
            "label": "Button type",
            "label_translations": { "fr": "Type du bouton" },
            "default": "external_link",
            "options": [
              {
                "value": "external_link",
                "label": "External link",
                "label_translations": { "fr": "Lien externe" }
              },
              {
                "value": "website_page",
                "label": "Link to another page",
                "label_translations": { "fr": "Lien vers une autre page" }
              },
              {
                "value": "add_to_my_calendar",
                "label": "Add to my calendar",
                "label_translations": { "fr": "Ajouter à mon calendrier" }
              },
              {
                "value": "declined",
                "label": "RSVP declined",
                "label_translations": { "fr": "RSVP décliner" }
              },
              {
                "value": "accepted",
                "label": "RSVP accepted",
                "label_translations": { "fr": "RSVP accepter" }
              },
              {
                "value": "badge",
                "label": "Badge",
                "label_translations": { "fr": "Badge" }
              },
              {
                "value": "document",
                "label": "Document",
                "label_translations": { "fr": "Document" }
              }
            ]
          },
          {
            "type": "text",
            "id": "button_link",
            "label": "Button link",
            "label_translations": { "fr": "Lien du bouton" },
            "show_if": {
              "source_id": "button_type",
              "operator": "==",
              "value": "external_link"
            }
          },
          {
            "type": "website_page_picker",
            "id": "website_page_url",
            "label": "Link to your website's page",
            "label_translations": { "fr": "Lien vers une page de votre site" },
            "show_if": {
              "source_id": "button_type",
              "operator": "==",
              "value": "website_page"
            }
          },
          {
            "type": "checkbox",
            "id": "auto_submit",
            "label": "Auto submit",
            "label_translations": { "fr": "Soumission automatique" },
            "default": true,
            "show_if": {
              "source_id": "button_type",
              "operator": "=~",
              "value": "^(?:accepted|declined)$"
            }
          },
          {
            "type": "checkbox",
            "id": "enable_change_category",
            "label": "Change the guest's category",
            "label_translations": { "fr": "Changer le participant de catégorie" },
            "info": "Link to the guest's registration form. By selecting a category, the guest will be transfered to this new category on form submission.",
            "info_translations": { "fr" : "Lien vers le formulaire d'inscription du participant. En sélectionnant une catégorie, le participant sera transféré vers cette nouvelle catégorie à la soumission du formulaire." },
            "default": false,
            "show_if": {
              "source_id": "button_type",
              "operator": "=~",
              "value": "^(?:accepted|declined)$"
            }
          },
          {
            "type": "guest_category_picker",
            "id": "guest_category_id",
            "label": "Choose the registration category",
            "label_translations": { "fr": "Choisir la catégorie d'inscription" },
            "show_if": {
              "source_id": "enable_change_category",
              "operator": "==",
              "value": true
            }
          },
          {
            "type": "document_picker",
            "id": "document_name",
            "label": "Document",
            "label_translations": { "fr": "Document" },
            "info": "The button is a direct link to the document's PDF, on the condition that the document has been configured in the guest's category",
            "info_translations": { "fr" : "Lien direct vers le PDF du document de votre choix, à condition que le document ait été configuré dans la catégorie du participant" },
            "show_if": {
              "source_id": "button_type",
              "operator": "==",
              "value": "document"
            }
          },
          {
            "type": "checkbox",
            "id": "enable_icon",
            "label": "Show the icon",
            "label_translations": { "fr": "Montrer l'icône" },
            "default": true,
            "show_if": {
              "source_id": "button_type",
              "operator": "==",
              "value": "add_to_my_calendar"
            }
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button text",
            "label_translations": { "fr": "Libellé du bouton" }
          },
          {
            "type": "checkbox",
            "id": "enable_custom_css",
            "label": "Apply a custom style",
            "label_translations": { "fr": "Appliquer un style personnalisé" },
            "default": false
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button color",
            "label_translations": { "fr": "Couleur du bouton" },
            "show_if": {
              "source_id": "enable_custom_css",
              "operator": "==",
              "value": true
            },
            "default": "#000"
          },
          {
            "type": "color",
            "id": "button_text_color",
            "label": "Button text color",
            "label_translations": { "fr": "Couleur du texte du bouton" },
            "show_if": {
              "source_id": "enable_custom_css",
              "operator": "==",
              "value": true
            },
            "default": "#000"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Columns of text and image",
        "name_translations": { "fr": "Colonnes de texte et image" },
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
