{% assign custom_css = nil %}
{% if params.enable_custom_css == true %}
  {% assign custom_css = "background-color:" | append: params.button_color | append: ";" %}
  {% assign custom_css = custom_css | append: "color:" | append: params.button_text_color | append: ";" %}
{% endif %}

{% assign button_align = "center" %}
{% if params.button_align != nil %}
  {% assign button_align = params.button_align %}
{% endif %}

{% assign class = nil %}
{% assign link_button = nil %}
{% assign target_blank = nil %}
{% assign button_disabled = nil %}
{% assign show = true %}

{% case params.button_type %}
  {% when 'external_link' %}
    {% assign link_button = params.button_link | parse_liquid %}
    {% assign target_blank = "target='_blank'" %}
    {% if link_button == blank or link_button == nil %}
      {% assign show = false %}
    {% endif %}
  {% when 'website_page' %}
    {% capture link_button %}{% website_url params.website_page_url %}{% endcapture %}
  {% when 'registration_edit' %}
    {% assign link_button = guest.registration_form_url %}
    {% if params.step_number != blank %}
      {% assign link_button = link_button | append: "&step_number=" | append: params.step_number %}
    {% endif %}
  {% when 'new_registration' %}
    {% if guest %}
      {% capture link_button %}{% website_url guest.guest_category.registration_form_page_url, force_new: true %}{% endcapture %}
    {% elsif is_preview != true %}
      {% assign show = false %}
    {% endif %}
  {% when 'declined' %}
    {% if guest.status == "declined" %}
      {% assign button_disabled = "disabled=true" %}
    {% endif %}
    {% assign link_button = guest.decline_url %}
    {% if params.enable_change_category and params.guest_category_id != blank %}
      {% assign link_button = link_button | append: "&guest_category_id=" | append: params.guest_category_id %}
    {% endif %}
    {% if params.auto_submit == true %}
      {% assign link_button = link_button | append: "&auto_submit=true" %}
    {% endif %}
  {% when 'accepted' %}
    {% if guest.status == "registered" or guest.status == "pending_registration" %}
      {% assign button_disabled = "disabled=true" %}
    {% endif %}
    {% assign link_button = guest.registration_form_url %}
    {% if params.enable_change_category and params.guest_category_id != blank %}
      {% assign link_button = link_button | append: "&guest_category_id=" | append: params.guest_category_id %}
    {% endif %}
    {% if params.auto_submit == true %}
      {% assign link_button = link_button | append: "&auto_submit=true" %}
    {% endif %}
  {% when 'badge' %}
    {% if guest.guest_category.badge_enabled == true %}
      {% assign link_button = guest.badge_url %}
      {% assign target_blank = "target='_blank'" %}
    {% endif %}
    {% if is_preview != true and link_button == nil or link_button == blank %}
      {% assign show = false %}
    {% endif %}
  {% when 'document' %}
    {% for document in guest.documents_collection %}
      {% if document.template_name == params.document_name %}
        {% assign link_button = document.url %}
      {% endif %}
    {% endfor %}
    {% assign target_blank = "target='_blank'" %}
    {% if is_preview != true and link_button == nil or link_button == blank %}
      {% assign show = false %}
    {% endif %}
  {% else %}
    {% assign link_button = params.button_link | parse_liquid %}
    {% if link_button == blank or link_button == nil %}
      {% assign show = false %}
    {% endif %}
{% endcase %}

{% if button_disabled != nil %}
  {% assign custom_css = custom_css | append: "opacity: 0.4;" %}
{% endif %}

{% if button_settings.button_width == true %}
  {% assign class = "btn-block" %}
{% endif %}

{% if show == true %}
  {% if params.button_type == "add_to_my_calendar" %}
    <div class="text-{{button_align}}" data-section-type="add-to-calendar">
      {% if params.button_label != blank %}
        <a data-toggle="modal" data-icone-btn="{{params.enable_icon}}" data-label-btn="{{ params.button_label }}" data-target="#myModal" class="btn-calendar btn btn-primary " data-event-title="{{ event.title }}" data-event-start-date="{{ event.start_date }}" data-event-end-date="{{ event.end_date }}" data-event-description="{{ event.description }}" data-event-address="{{ event.address | newline_to_br | replace: '<br />', " "}}" style="{% if custom_css != blank %}{{ custom_css }}{% endif %}"></a>
      {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 add-calendar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="text-{{button_align}}">
      <a href="{{ link_button }}" class="btn btn-primary {{class}}" {{ button_disabled }} style="{{ custom_css }}" {{ target_blank }}>
        {{ params.button_label | escape }}
      </a>
    </div>
  {% endif %}
{% endif %}
