<div class="form-group" {{ conditional_display }}>
  <label class="control-label" {{ required }}>{{ form_item.localized_label }}</label>
  <input type="text" name="{% guest_field_name form_item.key %}" class="form-control" {% if prefill_from != blank %}data-copy-from="{{prefill_from}}"{% endif %} {{ required }} {{ required_if }} {% if form_item.options['readonly'] %}readonly{% endif %} value="{{ guest.company_name }}" {{ minlength }} {{ maxlength }} {{ validations }} placeholder="{{ form_item.localized_options__placeholder }}" data-autocomplete-url="{{ guest_category.company_autocomplete_url }}" data-fill-url="{{ guest_category.fill_company_url }}" id="guest_company_name" />
  {{ help_block }}
</div>
